/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

main {
    margin-left: 250px;
    padding: 20px;
}


.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: green;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .logo h1 {
    font-size: 24px;
    text-align:left
}

.logo img {

    width: 80px;

}

.sidebar ul {
    list-style: none;
    padding: 20px 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 35px;
}

.sidebar ul li a:hover {
    background-color: white;
}


.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery img {
    width: 30%;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.gallery img:hover {
    filter: grayscale(0%);
}

/* Footer */
footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer .social-links li {
    margin: 0 10px;
}

footer .social-links a {
    color: white;
    text-decoration: none;
}

footer .social-links a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    main {
        margin-left: 0;
    }

    .gallery img {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }